<nav class="nav" id="sidebar" aria-label="Menu de Navegação">
    <ul>
        <li id="home">
            <a href="#sub-menu-home" aria-expanded="false" aria-controls="sub-menu-home">
                <i class="fa-solid fa-house"></i>
                <span class="nav-text">Home</span>
            </a>
            <div class="sub-menu" id="sub-menu-home" hidden>
                <ul>
                    <li><a href="#dashboard">Dashboard</a></li>
                    <li><a href="#relatorios">Relatórios</a></li>
                </ul>
            </div>
        </li>
        <li id="licitacoes">
            <a href="#sub-menu-licitacoes" aria-expanded="false" aria-controls="sub-menu-licitacoes">
                <i class="fa-solid fa-gavel"></i>
                <span class="nav-text">Licitações</span>
            </a>
            <div class="sub-menu" id="sub-menu-licitacoes" hidden>
                <ul>
                    <li><a href="#listar-licitacoes">Buscar Licitação</a></li>
                    <li><a href="#cadastrar-licitacoes">Cadastrar Licitação</a></li>
                </ul>
            </div>
        </li>
        <li id="clientes">
            <a href="#sub-menu-clientes" aria-expanded="false" aria-controls="sub-menu-clientes">
                <i class="fa-solid fa-people-group"></i>
                <span class="nav-text">Clientes</span>
            </a>
            <div class="sub-menu" id="sub-menu-clientes" hidden>
                <ul>
                    <li><a href="#listar-clientes">Listar Clientes</a></li>
                    <li><a href="#cadastrar-clientes" id="cadastrar-clientes">Cadastrar Clientes</a></li>
                    <li><a href="#pesquisar-clientes">Pesquisar Clientes</a></li>
                </ul>
            </div>
        </li>
        <li id="configuracoes">
            <a href="#sub-menu-configuracoes" aria-expanded="false" aria-controls="sub-menu-configuracoes">
                <i class="fa-solid fa-gear"></i>
                <span class="nav-text">Configurações</span>
            </a>
            <div class="sub-menu" id="sub-menu-configuracoes" hidden>
                <ul>
                    <li><a href="#usuarios">Usuários</a></li>
                    <li><a href="#notificacoes">Notificações</a></li>
                    <li><a href="#seguranca">Segurança</a></li>
                </ul>
            </div>
        </li>
        <li id="sair">
            <a href="#" id="logout-button">
                <i class="fa-solid fa-right-from-bracket"></i>
                <span class="nav-text">Sair</span>
            </a>
        </li>
    </ul>
</nav>
