<nav class="sidebar">
  <ul class="nav-links">
    <li>
      <a href="#">
        <i class="fa-solid fa-grip"></i>
        <span class="link-name">Dashboard</span>
      </a>
      <ul class="sub-links">
        <li><a href="#">Visão Geral</a></li>
        <li><a href="#">Relatórios</a></li>
        <li><a href="#">Estatísticas</a></li>
      </ul>
    </li>
    <li>
      <a href="#">
        <i class="fa-solid fa-gavel"></i>
        <span class="link-name">Licitações</span>
      </a>
      <ul class="sub-links">
        <li><a href="#">Criar Licitação</a></li>
        <li><a href="#">Minhas Licitações</a></li>
        <li><a href="#">Histórico</a></li>
      </ul>
    </li>
    <li>
      <a href="#">
        <i class="fa-solid fa-person"></i>
        <span class="link-name">Clientes</span>
      </a>
      <ul class="sub-links">
        <li>
          <a href="#" id="adicionar-clientes">
            <span class="link-name">Adicionar Cliente</span>
          </a>
        </li>
        <li><a href="#">Lista de Clientes</a></li>
        <li><a href="#">Relatórios de Clientes</a></li>
      </ul>
    </li>
    <li>
      <a href="#">
        <i class="fa-solid fa-gear"></i>
        <span class="link-name">Configurações</span>
      </a>
      <ul class="sub-links">
        <li><a href="#">Perfil</a></li>
        <li><a href="#">Preferências</a></li>
        <li><a href="#">Segurança</a></li>
      </ul>
    </li>
    <li>
      <a href="#">
        <i class="fa-solid fa-right-from-bracket"></i>
        <span class="link-name">Sair</span>
      </a>
      <ul class="sub-links">
        <li><a href="#">Confirmar Saída</a></li>
        <li><a href="#">Histórico de Sessões</a></li>
        <li><a href="#">Sair da Conta</a></li>
      </ul>
    </li>
  </ul>
</nav>
