<nav class="sidebar">
  <ul class="nav-links">
    <li>
      <a class="dropdown" href="#">
        <i class="fa-solid fa-grip sidebar-nav-icon"></i>
        <span class="link-name">Dashboard</span>
        <i class="fa fa-angle-left sidebar-nav-indicator"></i>
      </a>
      <ul class="sub-links">
        <li><a href="#" id="dashboard-geral">Visão Geral</a></li>
        <li><a href="#">Relatórios</a></li>
        <li><a href="#">Estatísticas</a></li>
      </ul>
    </li>
    <li>
      <a class="dropdown" href="#">
        <i class="fa-solid fa-gavel sidebar-nav-icon"></i>
        <span class="link-name">Licitações</span>
        <i class="fa fa-angle-left sidebar-nav-indicator"></i>
      </a>
      <ul class="sub-links">
        <li><a href="#" id="adicionar-licitacao">Criar Licitação</a></li>
        <li><a href="#" id="listar-licitacoes">Minhas Licitações</a></li>
        <li><a href="#">Histórico</a></li>
      </ul>
    </li>
    <li>
      <a class="dropdown" href="#">
        <i class="fa-solid fa-person sidebar-nav-icon"></i>
        <span class="link-name">Clientes</span>
        <i class="fa fa-angle-left sidebar-nav-indicator"></i>
      </a>
      <ul class="sub-links">
        <li>
          <a href="#" id="adicionar-clientes">
            <span class="link-name">Adicionar Cliente</span>
          </a>
        </li>
        <li><a href="#">Lista de Clientes</a></li>
        <li><a href="#">Relatórios de Clientes</a></li>
      </ul>
    </li>
    <li>
      <a class="dropdown" href="#" id="config">
        <i class="fa-solid fa-gear sidebar-nav-icon"></i>
        <span class="link-name">Configurações</span>
      </a>
    </li>
    <li class="logout"> <!-- Adicione esta classe -->
      <a class="dropdown" href="#">
        <i class="fa-solid fa-right-from-bracket sidebar-nav-icon"></i>
        <span class="link-name">Sair</span>
        <i class="fa fa-angle-left sidebar-nav-indicator"></i>
      </a>
      <ul class="sub-links">
        <li><a href="#">Confirmar Saída</a></li>
        <li><a href="#">Histórico de Sessões</a></li>
        <li><a href="#">Sair da Conta</a></li>
      </ul>
    </li>
  </ul>
</nav>