<div class="modal-content max-width-800">
    <span class="close" aria-label="Fechar">&times;</span>
    <div class="modal-header">
        <h2 class="modal-title text-center"><i class="fa-regular fa-address-card"></i> LiciteAqui - Cadastrar Cliente</h2>
    </div>
        <div class="modal-body">
            <div class="container">
                <form id="clientForm">
                    <div class="row">
                        <!-- CNPJ -->
                        <div class="form-group col-md-6">
                            <label for="cnpj">CNPJ:</label>
                            <input type="text" id="cnpj" name="cnpj" class="form-control" placeholder="Digite o CNPJ" required />
                        </div>
                        
                        <!-- Data de Cadastro -->
                        <div class="form-group col-md-6">
                            <label for="dataCadastro">Data de Cadastro:</label>
                            <input type="date" id="dataCadastro" name="dataCadastro" class="form-control" required />
                        </div>
                    </div>

                    <div class="row">
                        <!-- Nome Fantasia -->
                        <div class="form-group col-md-6">
                            <label for="nomeFantasia">Nome Fantasia:</label>
                            <input type="text" id="nomeFantasia" name="nomeFantasia" class="form-control" placeholder="Digite o Nome Fantasia" />
                        </div>
                        <!-- Status -->
                        <div class="form-group col-md-6">
                            <label for="status">Status:</label>
                            <select id="status" name="status" class="form-control" required>
                                <option value="">Selecione um status</option>
                                <option value="ativo">Ativo</option>
                                <option value="inativo">Inativo</option>
                            </select>
                        </div>
                    </div>

                    <div class="row">
                        <!-- Razão Social -->
                        <div class="form-group col-md-12">
                            <label for="razaoSocial">Razão Social:</label>
                            <input type="text" id="razaoSocial" name="razaoSocial" class="form-control" placeholder="Digite a Razão Social" required />
                        </div>
                    </div>

                    <!-- Botões -->
                    <div class="button-container text-center mt-4">
                        <button type="button" id="cancelar" class="btn btn-danger mx-2">Cancelar</button>
                        <button type="button" id="contactFormContainer" class="btn btn-primary mx-2">Avançar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <div id="error-message" style="color: red; display: none;"></div>
    <div id="success-message" style="display:none; color: green;"></div>

    <div id="contactFormContainer" style="display: none; margin-top: 20px;">
        <h3> Adicionar Contatos</h3>
        <form id="contactForm">
            <label for="tipoTelefone">Tipo de Telefone:</label>
            <select id="tipoTelefone" name="tipoTelefone" required>
                <option value="">Selecione o tipo</option>
                <option value="1">Celular</option>
                <option value="2">Fixo</option>
            </select>

            <label for="ddd">DDD:</label>
            <input type="text" id="ddd" name="ddd" maxlength="3" placeholder="Digite o DDD" required />

            <label for="telefone">Telefone:</label>
            <input type="text" id="telefone" name="telefone" maxlength="10" placeholder="Digite o Telefone" required />

            <label for="nomeCompleto">Nome Completo:</label>
            <input type="text" id="nomeCompleto" name="nomeCompleto" placeholder="Digite o Nome Completo" required />

            <label for="sexo">Sexo:</label>
            <select id="sexo" name="sexo" required>
                <option value="">Selecione o sexo</option>
                <option value="Masculino">Masculino</option>
                <option value="Feminino">Feminino</option>
            </select>

            <label for="dataNascimento">Data de Nascimento:</label>
            <input type="date" id="dataNascimento" name="dataNascimento" />

            <label for="cpf">CPF:</label>
            <input type="text" id="cpf" name="cpf" maxlength="11" placeholder="Digite o CPF" required />

            <button type="submit">Adicionar Contato</button>
        </form>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
<script src="/public/components/modal/js/modalClienteUI.js"></script>
