<div class="modal-content max-width-1200">
    <span class="close" id="close-config" aria-label="Fechar" >&times;</span>
    <div class="modal-header">
        <h2 class="modal-title text-center col-12" id="title-cliente"><i class="fa-solid fa-gear"></i> LiciteAqui - Configurações </h2>
    </div>
    <div class="modal-body row">
        <div class="col-md-3">
            <aside id="aside-config" class="d-flex border rounded p-2">
                <ul class="d-flex flex-column align-items-start p-0 w-100">
                    <li  class="btn btn-outline-secondary text-start w-100 mb-2" id="btn-perfil">Perfil</li>
                    <li  class="btn btn-outline-secondary text-start w-100 mb-2" id="btn-preferences">Preferências</li>
                    <li  class="btn btn-outline-secondary text-start w-100 mb-2" id="btn-security">Segurança</li>
                    <li class="btn btn-outline-secondary text-start w-100 mb-2" id="btn-users">Usuários</li>
                    <li class="btn btn-outline-secondary text-start w-100 mb-2" id="btn-permissions">Permissões</li>
                </ul>
            </aside>
        </div>
        <section class="col-md-9 border rounded p-4" id="config-content">
            <div id="perfil-container" style="display:none;">
                <h1>Configurações de Perfil</h1>
            </div>

            <div id="preferences-container" style="display:none;">
                <h1>Configurações de Preferências</h1>
            </div>

            <div id="security-container" style="display:none;">
                <h1>Configurações de Segurança</h1>
            </div>

            <div id="users-container" style="display:none;">
                <h1>Configurações de Usuários</h1>
            </div>

            <div id="permissions-container" style="display:none;">
                <h1>Configurações de Permissões</h1>
            </div>
        </section>
    </div>


    <div id="error-message" style="color: red; display: none;"></div>
    <div id="success-message" style="display:none; color: green;"></div>
</div>