<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/dashboard.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" />
    <title>Dashboard</title>
</head>
<body>
    <div class="container">
        <div id="sidebar" class="sidebar"></div>
        <div class="content" id="content">
            <h1>Bem-vindo à Dashboard</h1>
            <div class="grid">
                <div class="card">Medição 1</div>
                <div class="card">Medição 2</div>
                <div class="card">Medição 3</div>
                <div class="card">Medição 4</div>
                <div class="card">Medição 5</div>
                <div class="card">Medição 6</div>
                <div class="card">Medição 7</div>
                <div class="card">Medição 8</div>
                <div class="card">Medição 9</div>
                <div class="card">Medição 10</div>
                <div class="card">Medição 11</div>
                <div class="card">Medição 12</div>
            </div>
        </div>
    </div>



    <div id="modal" class="modal" style="display: none;">
        <!-- O conteúdo da modal será carregado aqui -->
    </div>
    

    <script src="components/sidebar/js/sidebar.js"></script>
    <script src="components/modal/js/modalCliente.js"></script>
    <script src="js/dashboard.js"></script>
</body>
</html>
