<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/public/css/dashboard.css" />
    <link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
        integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
        crossorigin="anonymous"
        referrerpolicy="no-referrer"
    />
    <title>Dashboard</title>
</head>
<body>
    <div class="container">
        <div class="sidebar collapsed" id="sidebar">
            <nav class="nav">
                <ul>
                    <li><i class="fa-solid fa-house"></i><span class="nav-text">Home</span></li>
                    <li><i class="fa-solid fa-gavel"></i><span class="nav-text">Licitações</span></li>
                    <li><i class="fa-solid fa-people-group"></i><span class="nav-text">Clientes</span></li>
                    <li><i class="fa-solid fa-gear"></i><span class="nav-text">Configurações</span></li>
                </ul>
            </nav>
        </div>
    </div>
    <script src="/public/js/dashboard.js"></script>
</body>
</html>
