@import url('global.css');
@import url('../components/modal/css/modalCliente.css');
@import url('../components/sidebar/css/sidebar.css');

.grid {
    display: grid; 
    grid-template-columns: repeat(4, 1fr); 
    gap: 10px; 
    margin-top: 50px;
}

.card-dashboard {
    background-color: #e8eef0; 
    border: 1px solid #ccc; 
    border-radius: 15px; 
    padding: 10px; 
    height: 150px; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    transition: transform 0.2s; 
}

.card-dashboard:hover {
    transform: scale(0.90); 
}