* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background-color-primary: #FFFFFF;
    --background-color-secondary: #2c2c2c;
    --background-color-tertiary: #d4bb00;
    --background-color-quaternary: #393939;
    --background-color-quinary: #1b1b1b;
    --background-color-sextiary: #464646;
    --surface-color: #F5F5F5;
    --skeleton-color: #D9D9D9;
    --canvas-color: #e5eaed;
    --shape-transparency: #ffffff8f;
    --text-color-primary: #313131;
    --text-color-secondary: #FFFFFF;
    --text-color-tertiary: #d4bb00; 
    --text-color-quaternary: #1bbae1;
    --font-family: "Poppins", sans-serif;
    --text: 16px/150% var(--font-family);
}

body {
    font: var(--text);
    color: var(--text-color-primary);
    background-color: var(--background-color-primary);
}

/* Início Estilizações de texto */
.normal-text {
    font-weight: normal!important;
}
.text-center {
    text-align:center !important;
}
/* Fim Estilizações de texto */

.max-width-800 {
    max-width: 800px !important;
}

/* Início Content Header */
.content-header {
    background-color: #ffffff;
    border-top: 1px solid #eaedf1;
    border-bottom: 1px solid #dbe1e8;
    padding: 5px 40px !important;
}

.content-header h1,
.content-header h2 {
    margin: 0;
    font-size: 26px;
    line-height: 32px;
}

.content-header small{
    font-size: 17px;
    font-weight: 200;
}

.header-section h1 i {
    font-size: 56px;
    float: right;
    margin: 2px 0 0 10px;
    color: #eaedf1;
    margin: 0 0 0 10px;
    line-height: 64px;
}

.header-section {
    padding: 30px 10px;
}

.content-header,
.content-top {
    margin: -10px -5px 10px;
}

.content-top {
    background-color: #ffffff;
    border-bottom: 1px solid #dbe1e8;
}

/* Fim content header */

/* Início breadcrumps */
.breadcrumb {
    padding: 5px 40px !important;
    background-color: #fff !important;
}

.breadcrumb i {
    font-size: 14px;
}

.breadcrumb-top {
    margin: -10px -5px 10px;
    padding: 7px 10px;
    border-top: 1px solid #eaedf1;
    border-bottom: 1px solid #dbe1e8;
    border-bottom-color: #eaedf1;
    font-size: 12px;
}

.content-header + .breadcrumb-top,
.breadcrumb-top + .content-header {
    margin-top: -11px;
}

.breadcrumb > li + li:before {
    content: "\203a";
    margin:0 10px;
}
.breadcrumb > li a {
    color: var(--text-color-quaternary);
    font-weight:600;
    text-decoration: none;

}
.breadcrumb > li {
    font-size: 12px;
}
/* Fim breadcrumps */


/* Início container das páginas */
.container-page {
    display: flex; 
    min-height: 100vh; 
    background-color: var(--canvas-color);
}

.content {
    flex: 1; 

    height: fit-content;
    overflow-x: hidden; 
}
.content-page{
    margin: 20px; 
    padding: 20px; 
    max-width: calc(100% - 40px); 

    background-color: #ffffff;
}

.content h1 {
    margin-top: 10px; 
}
/* Fim container das páginas */


/* Início modal */

.modal-content {
    border-radius: 3px;
}

.modal-header {
    padding: 15px 15px 14px;
    border-bottom: 1px solid #eeeeee;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.modal-title {
    font-weight: 300;
}

.modal-body {
    padding: 20px 15px;
}

.modal-footer {
    margin-top: 0;
    padding: 14px 15px 15px;
    border-top: 1px solid #eeeeee;
    background-color: #f9f9f9;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.modal-body {
    padding: 30px 15px;
}

.close{
    margin-left:97%;
    cursor: pointer;
}

.form-control {
    height: calc(2.25rem + 2px); 
}
/* Fim modal */

/* Início tables */
.table a {
    color: var(--text-color-quaternary);
    font-size: 12px;
    font-weight:600;
    text-decoration: none;
}

.table.table-vcenter th,
.table.table-vcenter td {
    vertical-align: middle;
}

.table-options {
    padding: 6px 0;
}

.table thead > tr > th {
    font-size: 18px;
    font-weight: 600;
}

.table thead > tr > th > small {
    font-weight: 400;
    font-size: 75%;
}

.table thead > tr > th,
.table thead > tr > td,
.table tfoot > tr > th,
.table tfoot > tr > td {
    padding-top: 14px;
    padding-bottom: 14px;
}

.table tfoot > tr > th,
.table tfoot > tr > td {
    background-color: #f9fafc;
}

.table-borderless tbody > tr > th,
.table-borderless tbody > tr > td {
    border-top-width: 0;
}

.table thead > tr > th,
.table tbody > tr > th,
.table tfoot > tr > th,
.table thead > tr > td,
.table tbody > tr > td,
.table tfoot > tr > td,
.table tbody + tbody,
.table-bordered,
.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
    border-color: #eaedf1;
}

.table-hover > tbody > tr:hover > td,
.table-hover > tbody > tr:hover > th {
    background-color: #fcf9f9;
    color:black;
}

.table-hover > tbody > tr:hover > td,
.table-hover > tbody > tr:hover > th {
    background-color: #fcf9f9;
    color:black;
}
.table-clicked > tbody > tr {
    cursor: pointer;
}
/* Fim tables */
.nav, .nav-tabs {
    padding-left: 0 !important;
    padding-bottom: 0;
    border-bottom: none;
    border-left:none;
}
.block-title {
    margin: -20px -15px 20px;
    background-color: #f9fafc;
    border-bottom: 1px solid #eaedf1;
    padding-right: 10px;
}

.block-title .nav-tabs {
    padding: 3px 1px 0;
    border-bottom: none;
}

.block-title .nav-tabs > li > a {
    border-bottom: none;
}

.nav-tabs > li > a {
    padding:0px 15px !important; 
    color: var(--text-color-quaternary);
    font-weight:600;
    text-decoration: none;
    font-size: 12px;
}
.nav > li i {
    font-size: 14px;
}
.nav > li {
    padding:5px 15px !important; 
}
.nav > li:hover,
.nav > li:focus {
    background-color: #f9fafc;
}
.nav-tabs li.active{
    background-color:  var(--background-color-primary) !important;
}